table,
th,
td {
  border: 1px solid black;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box div {
  background-color: #657b83;
  margin: 10px;
  padding: 15px;
  border-radius: 25px;
  width: 150px;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-color: #073642;
  color: #fdf6e3;
  text-align: center;
  width: 60%;
  margin: auto;
  padding: 10px;
}

.input {
  text-align: left;
  background-color: #657b83;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

button {
  background-color: #657b83;
  margin: 10px;
  padding: 5px;
  border-radius: 2px;
}
